
<b>Joe Savarese</b>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Hi Joe. Welcome to your site.</p>
<i>"Luck is what happens when preparedness meets opportunity."
<img src=http://www.quickmeme.com/img/2b/2b0cd568303d7674e6350d8f600d0e487a428d75501399a0d403c0fd9116ce01.jpg>