
<head>
	<style>
		img {
			width: 600px;
			border: 15px solid black;
			}
		p.description{
			font-size: 20px;
			color: red;
		}

	</style>
</head>
<center><a href="#section5"> Go to bottom of the page! </a><p><b>Joe Savarese</b></p>

<h1>Joe Savarese</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>Hi Joe. Welcome to your site.</p>
<p>My name is Joe. I live in Atlanta. I work in IT Sales. Fun things are fun.</p>
<p><i>"<b>Luck</b> is what happens when <b>preparedness</b> meets <b>opportunity</b>."</i></p>
<img src=http://www.quickmeme.com/img/2b/2b0cd568303d7674e6350d8f600d0e487a428d75501399a0d403c0fd9116ce01.jpg>

	<p class = "description">This is my favorite meme.</p>

<ul>
  <li>First Item!</li>
  <li>Second Item!</li> 
</ul>
<a href = "http://www.google.com">Click here to go!</a>

<a name="section5"/>



</center>
