<h1>Aboutme#index</h1>
<p>Find me in app/views/aboutme/index.html.erb</p>

<a href = "/sitemap/">| Site Map |</a>

<%= link_to('About Me!', '/aboutme/') %>
<%= link_to('Home Page!', '/welcome/') %>
<%= link_to('Pictures!', '/aboutme/pics/') %>
